@import "../../Styles/commom";
@import "../../Styles/variables";

.servicesWrapper {
  // background: #fffdfa;
  background-image: radial-gradient(
    ellipse farthest-side at 100% 100%,
    #dbf6c8 20%,
    #1cafc6 50%,
    #012690 180%
  );
  // width: 90%;
  height: 162vh;
  padding: 50px 0;
  @media screen and (max-width: 768pc) {
    height: auto;
  }
  .svgWrapper {
    position: relative;
    background: #fffdfa;
    @media screen and (max-width: 768px) {
      height: auto;
    }

    svg {
      position: absolute;
      right: 0px;
      display: block;

      @media screen and (max-width: 768px) {
        right: 0px;
      }
    }
  }
  .servicesWrap {
    // height: 100vh;
    width: 90%;
    margin-inline: auto;
    @media screen and (max-width: 768px) {
      padding-top: 30px;
    }
    .servicesContent {
      h1 {
        @include sectionHeading;
        margin-bottom: 10px;
        text-align: center;
        color: $white;
        span{
            color: $orange;
        }

      }
      
      p {
        font-weight: 400;
        font-size: 16px;
        color: $white;
        // color: $textColor;
        text-align: center;
        margin-bottom: 40px;
        width: 60%;
        margin-inline: auto;
        @media screen and (max-width: 768px) {
          width: 100%;
        }
        @media screen and (min-width: 769px) and (max-width: 992px) {
          width: 70%;
        }
      }
    }

    .cardsWrapper {
      height: 128vh;
      // display: flex;
      // flex-wrap: wrap;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 30px;
      justify-content: center;
      width: 100%;
      margin-inline: auto;

      @media screen and (max-width: 768px) {
        height: auto;
        display: grid;
        grid-template-columns: 1fr;
        padding-bottom: 50px;
      }

      @media screen and (min-width: 769px) and (max-width: 1024px) {
        height: auto;
      }

      @media screen and (min-width: 1025px) {
        height: auto;
      }
      @media screen and (min-width: 769px) and (max-width: 992px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
    }
  }
}
