// Montserrat
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
// Colors
$primaryColor: #4869e8;
$white: #fff;
$dark: #000;
$gray: #808291;
$softDark: #181e31;
$softOrange:#ffb091;
$orange:#ff8839;

// font family
$montserrat: "Montserrat", sans-serif;


// spacing
$spacing-md: 40px;
$spacing-lg: 80px;