

@import "../../Styles/commom";
@import "../../Styles/variables";

.SectionModuleWrapper {

  .SectionModuleWrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin-inline: auto;
    height: 70vh;

    // Styles specific to data-id="2"
    &[data-id="2"] .contentWrapper {
      order: 2;
      width: 50%;
    }
    &[data-id="2"] .imgWrapper {
      width: 50%;
      order: 1;
    }

    // Styles specific to data-id="1" or data-id="3"
    &[data-id="1"] .contentWrapper,
    &[data-id="3"] .contentWrapper {
      width: 50%;
      order: 1;
    }
    &[data-id="1"] .imgWrapper,
    &[data-id="3"] .imgWrapper {
      width: 50%;
      order: 2;
      border: 1px solid red;
    }

    .contentWrapper {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      gap: 60px;

      // width: 60%;
      .contentWrap {
        margin-top: 100px;
        width: 76%;
        padding: 0 19 0px 0 0;
        @include flexbox($ai: start, $gap: 20px);
        // width: 80%;
        height: 100%;
   

        img {
          width: 80px;
          height: 80px;
          display: block;
        }
        span {
          color: $orange;
          font-size: 14px;
          letter-spacing: 3px;
        }
        h2 {
          @include sectionHeading;
          //  width: 80%;
          // letter-spacing: 1px;
        }
        .dynamicHeading{
         width: 79%;
        }

        p {
          font-size: 1.1em;
          font-weight: 400;
          color: $dark;
          width: 80%;
        }
      }
    }

    .imgWrapper {
      height: 100%;
      width: 40%;
      position: relative;
      .firstImg {
    
        width: 100% !important;
        height: 120% !important;
      }

      .secondImg {
     
        position: absolute !important;
        top: 65% !important;
        left: 60% !important;
        transform: translate(-50%, -50%) !important;
        width: 100% !important;
        height: 120% !important;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
      }
    }
  }
}
